<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="1" data-background="assets/assetsEli/images/banner/family.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Services</h1>
            </div>
        </div>
    </div>
</div>
<!-- Services -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="signature1" style="color: darkgoldenrod;">Our Services</h2>
                <hr class="line line-hr-center">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let category of categories; let i = index" (click)="viewCategory(category)">
                <div class="services-item" >
                    <img class="services-img" src="{{category.images[0]}}" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle" ><a (click)="view(category)">{{ category.name }}</a></div>

                                <div class="services-title"><a (click)="view(category)">View more</a></div>
                        </div>
                </div>
                <div class="services-subtitle" style="text-align: center;" ><a (click)="view(category)">{{ category.name }}</a></div>

            </div>
            <!-- <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/2.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Master of Ceremonies</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/3.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Corporate Events</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/4.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Weddings</a></div>
                                <div class="services-title"><a href="services-page.html">Destination Wedding</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/5.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Birthday Party Planner</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/6.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Special Events</a></div>
                        </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Pricing -->
<!-- <div class="testimonials">
    <div class="background bg-fixed bg-img" data-overlay-dark="2" data-background="assets/assetsEli/images/banner/bebe.jpg"> </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="signature1">Packages</h2>
                    <hr class="line line-hr-center">
                    <span style=" color: #f5f0ec;">Discover these and more packages that we have especially for you!</span>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testim">
                        <swiper [config]="config2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide box" *ngFor="let packages of allPackages; let i = index" (click)="viewPackages(packages)" style="cursor: pointer;">
                                    <div class="item">
                                        <div class="cont">
                                            <div class="img"> <img src="{{packages.images[0]}}" alt=""> </div>
                                            <div class="info">
                                                <h5>{{packages.name}}</h5>  
                                                <span>See now</span> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </swiper>
                        
                    </div>
                   
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
           
        </div>
</div> -->
<!-- F.A.Qs -->
<!-- <div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>F.A.Qs</h2>
                <hr class="line line-hr-center">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2 faqs-accordion">
                <div class="accordion">
                    <div class="item">
                        <div class="title">
                            <h6>Why do I need a wedding planner?</h6>
                        </div>
                        <div class="accordion-info active" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>What will working with a wedding planner entail?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>What happens on the wedding day itself?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>How many weddings do you take on each year?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>Do you have insurance?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>Will you be there on our wedding day?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

