<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="1" data-background="assets/assetsEli/images/banner/banner1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: initial;">
                <h1>Descubre los servicios que tengo para ti: Arte y emoción en cada momento</h1>
            </div>
        </div>
    </div>
</div>
<!-- Services -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="signature1" style="color: darkgoldenrod;">Servicios</h2>
                <hr class="line line-hr-center">
                <p>En Eli-Photography, transformo momentos especiales en recuerdos visuales duraderos. </p>
                <p>Ofrecezco servicios fotográficos personalizados para toda ocasion, desde delicados retratos de bebés hasta emocionantes coberturas de bodas y eventos, adaptándome a cada fase de su vida para crear imágenes que cuenten su historia de forma única.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let category of categories; let i = index" (click)="viewCategory(category)">
                <div class="services-item" >
                    <img class="services-img" src="{{category.images[0]}}" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle" ><a (click)="view(category)">{{ category.name }}</a></div>

                                <div class="services-title"><a (click)="view(category)">Ver detalles</a></div>
                        </div>
                </div>
                <div class="services-subtitle" style="text-align: center;" ><a (click)="view(category)">{{ category.name }}</a></div>

            </div>
            <!-- <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/2.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Master of Ceremonies</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/3.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Corporate Events</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/4.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Weddings</a></div>
                                <div class="services-title"><a href="services-page.html">Destination Wedding</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/5.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Birthday Party Planner</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/6.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Special Events</a></div>
                        </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

