<div class="rspn-hdr" [hidden]="yeoman.virtualRoute === 'cars'">
    <div class="rspn-mdbr">
        <!-- <div class="rspn-scil">
            <a href="https://web.facebook.com/aceroymas.com.mx?_rdc=1&_rdr" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/acerosymas1/" title="Facebook" target="_blank"><i class="fab fa-instagram"></i></a>
           
        </div> -->
        <!-- <form class="rspn-srch">
            <input type="text" placeholder="Enter Your Keyword">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form> -->
    </div>
    <div class="lg-mn">
        <div class="logo"><a (click)="setRoute('first')" title="Home"><img src="assets/aceros/images/logo.png" alt="Logo"></a></div>
        <!-- <div class="rspn-cnt">
            <span><i class="thm-clr far fa-envelope-open"></i><a href="mailto:info@aceroymas.com" title="">info@aceroymas.com</a></span>
            <span><i class="thm-clr fas fa-map-marker-alt"></i>8 a calle # 215 Col Miguel Alemán San Nicolas de los Garza, Nuevo León, México C.P.66470</span>                        
        </div> -->
        <span class="whatsapp-btn-mobile"> <a href="https://wa.me/+5218117788170?text=Hola!!%20Quiero%20comprar%20en%20Acero%20y%20más" target="_blank"><i class="fab fa-whatsapp"></i></a></span>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
        
    </div>
    
    <div class="rsnp-mnu" [hidden]="yeoman.virtualRoute === 'cars'">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul class="mb-0 list-unstyled w-100">
                       
                        <li><a (click)="setRoute('first')" style="cursor: pointer;"title="">Inicio</a></li>
                        <li><a (click)="setRoute('about')" style="cursor: pointer;" title="">Nosotros</a></li>
                        <li><a (click)="setRoute('shop')" style="cursor: pointer;" title="">Tienda</a></li>
                        <li><a (click)="setRoute('contact')  " style="cursor: pointer;"title="">Contacto</a></li>
                        <li><a><i class=" far fa-envelope-open"></i><a href="mailto:info@aceroymas.com" title="">info@aceroymas.com</a></a></li>
                        <li><a><i class=" fas fa-map-marker-alt"></i> 8 a calle # 215 Col Miguel Alemán San Nicolas de los Garza, Nuevo León, México C.P.66470</a></li>
            
        </ul>
        
        <div class="rspn-scil">
            <a href="https://web.facebook.com/aceroymas.com.mx?_rdc=1&_rdr" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/acerosymas1/" title="Facebook" target="_blank"><i class="fab fa-instagram"></i></a>
          
        </div>
    </div><!-- Responsive Menu -->
</div><!-- Responsive Header -->