
.bg-light {
    background-color: #f5f0ec!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link {
    color: #a2783a;
}