<header>
    <div class="bethany-header-navbar">
        <div class="container bethany-navbar-container">
            <div class="bethany-navigation-wrap bg-light bethany-start-header start-style">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-md navbar-light">
                                <!-- Logo -->
                                <a class="navbar-brand" (click)="setRoute('first')" style="cursor: pointer;">
                                    <img src="assets/assetsEli/images/logo-dark.png" alt="">
                                    <!-- <h2>Bethany<span>Wedding & Event</span></h2> -->
                                </a>
                                <!-- Menu -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto py-4 py-md-0">
                                        <li class="nav-item"> <a class="nav-link" (click)="setRoute('first')" style="cursor: pointer;">Home</a></li>
                                        <li class="nav-item"> <a class="nav-link" (click)="setRoute('about')" style="cursor: pointer;" title="about">About</a></li>
                                        <li class="nav-item"> <a class="nav-link" (click)="setRoute('shop')" style="cursor: pointer;" title="services">Services</a></li>
                                        <li class="nav-item"> <a class="nav-link" (click)="setRoute('packages')" style="cursor: pointer;" title="packages">Packages</a></li>
                                        <li class="nav-item"> <a class="nav-link" (click)="setRoute('products')" style="cursor: pointer;" title="Products">Products</a></li>
                                        <li class="nav-item"> <a class="nav-link" (click)="setRoute('portfolio')" style="cursor: pointer;" title="portfolio">Portfolio</a></li>
                                        <li class="nav-item"> <a class="nav-link" (click)="setRoute('contact')" style="cursor: pointer;" title="contact">Contact</a> </li>
                                        <!-- <li class="nav-item"> <a class="nav-link" href="blog.html">Blog</a> </li> -->
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>