
.testimonials .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    z-index: -1;
}
.signature1 {
    font-family: Signatie;
    color: darkgoldenrod;
}
.signature2{
    font-family: Signatie;

}
.bg-1 {
    background: #d9ffff;
}
.about{
background: #f5f0ec;
}
.packages{
    background: #f5f0ec;
}
