
.testimonials .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    z-index: -1;
}
.signature1 {
    font-family: Signatie;
    color: darkgoldenrod;
}
.signature2{
    font-family: Signatie;
    color: #000;
}
.signature3 {
    font-family: Signatie;
    color: #d9ffff;
    font-size: 30px;
}
.bg-1 {
    background: #d9ffff;
}
.about{
background: #f5f0ec;
}
.packages{
    background: #f5f0ec;
}
.botonAll{
    text-align: end;
    padding-bottom: 30px;
}
.bethany-slider-img {
    max-width: 100%;
    height: 700px;
}
@media screen and (max-width: 768px) {
    .bethany-slider-img {
        max-width: 100%;
        height: 300px;
    }
    .services-img{
        vertical-align: middle;
        height: auto;}
}
.services-img{
        vertical-align: middle;
        height: 600px;
}
.prod-img{
    padding-top: 2%;
    height: 320px;
}
@media screen and (max-width: 768px) {
    
    
    .prod-img{
        vertical-align: middle;
        height: 125px;}
}
.testimonials .box {
    padding: 5px;
  }


.testimonials .item .img img {
    width: 100%;
    height: 320px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
    /* border-radius: 50%; */
  }
  .testimonials .item .img {
    width: 100%;
    height: 70px;
    border-radius: 50%;
    display: contents;
    position: relative;
  }
  .testimonials .item .info {
    display: contents;
    vertical-align: middle;
    padding: 15px;
    text-align: center;
}
.testimonials .item{
    max-height: 600px;
}

.title-prod{
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    .title-prod{
        font-size: 1rem;
    }
    .span-prod{
        text-align: center; 
        font-size: x-small;}
        .testimonials .item .info span{
            font-size:10px;}
            .services-subtitle{
                text-align: center;
            }
}
.testimonials .item .info span{
    font-size:13px;
}

.services-subtitle{
    text-align: center;
}
@media screen and (max-width: 600px) {
    .texto-box {
        margin-left: 20px; /* Margen izquierdo */
        margin-right: 20px; /* Margen derecho */
        padding: 10px; 
        text-align: center;
    }
    
}
h5 {
    font-size: 1.25rem;
    text-align: center;}



