.bethany-homepage-slider .signature {
    font-family: 'Signatie';
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
   /*  margin-top: -19px; */
    text-align: center;
    color: #505050;
    padding-bottom: 2%;
}
.testimonials .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 100%;
    z-index: -1;
}
.signature1 {
    font-family: Signatie;
    color: darkgoldenrod;
}
.bg-1 {
    background: #d9ffff;
}
.about{
background: #f5f0ec;
}
.packages{
    background: #f5f0ec;
}