<app-first [hidden]="yeoman.virtualRoute!='first'"></app-first>
<app-about [hidden]="yeoman.virtualRoute!='about'"></app-about>
<app-shop [hidden]="yeoman.virtualRoute!='shop'"></app-shop>
<app-detail [hidden]="yeoman.virtualRoute!='detail'"></app-detail>
<app-contact [hidden]="yeoman.virtualRoute!='contact'"></app-contact>
<app-products [hidden]="yeoman.virtualRoute!='products'"></app-products>
<app-detail-products [hidden]="yeoman.virtualRoute!='detail-products'"></app-detail-products>
<app-detail-packages [hidden]="yeoman.virtualRoute!='detail-packages'"></app-detail-packages>
<app-packages [hidden]="yeoman.virtualRoute!='packages'"></app-packages>
<app-portfolio [hidden]="yeoman.virtualRoute!='portfolio'"></app-portfolio>


