<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="1" data-background="assets/assetsEli/images/banner/family.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Bienvenidos</h1>
            </div>
        </div>
    </div>
</div>

<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="signature2 texto-box">Eli Quintalla</h2>
                <hr class="line line-hr-left texto-box">
                <h4 class="texto-box" style="text-align: center;">fotógrafa profesional</h4>
                <h5 class="signature2 texto-box">Capturando los Momentos Preciosos de la Vida</h5>
                <p class="texto-box">
                Originaria de El Salvador, hablo fluidamente el inglés y español, me especializo en conectar con una diversidad de clientes, capturando sus historias únicas a través de mi lente. Mi amor por la fotografía no es solo una profesión, sino una expresión de mi ser, donde cada imagen es un testimonio de la vida y sus innumerables matices.
                </p>
                <p class="texto-box">
                    <strong>
                    Inspirada diariamente por la fortaleza y el amor de un esposo extraordinario, encuentro en nuestra unión el lienzo perfecto para reflejar los momentos más preciados. Como madre y abuela de tres, me sumerjo en la complejidad de la vida familiar, capturando con mi cámara la esencia de cada sonrisa, cada gesto de cariño y cada abrazo sincero. Mi enfoque en la fotografía se nutre de estas experiencias, permitiéndome retratar con ternura y autenticidad cada instante.
                    </strong>
                </p>
                <p class="texto-box">
                    Mi compromiso es acompañarte en cada etapa importante de tu vida, desde la ternura de un recién nacido hasta la alegría de un cumpleaños. Permíteme ser parte de tus momentos más significativos, capturándolos para que perduren en el tiempo. Con cada fotografía, te ofrezco no solo un recuerdo, sino una historia de amor y vida, eternizada para que la atesores por siempre.
                </p>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="about-img">
                    <div class="img">
                        <img src="assets/assetsEli/images/about.jpg" alt="">
                    </div>
                    <div class="about-img-2">Eli Quintalla</div>
                </div>
            </div>
            <div class="col-md-12">
                <a data-swiper-parallax-x="-30%" style="z-index: 5;" class="next-link" (click)="setRoute('contact')" style="cursor: pointer; color: darkgoldenrod ;">Contáctenos</a>

                    <p>Muchas gracias por contactarme - ¡estoy emocionada de conectarme con usted! </p>
                    <p><b>Teléfono :</b> +1 (410) 855-5095</p>
                    <p><b>Correo :</b> elifotografia81@gmail.com</p>
                   <p><b>Sígueme :</b>@elifotografia81</p>
                    <div class="social-icon">
                        <a href="https://web.facebook.com/profile.php?id=100083357140289&mibextid=LQQJ4d&_rdc=1&_rdr" target="_blank"><i class="ti-facebook" style="padding: 5px;"></i> </a>
                        <a href="https://www.instagram.com/elifotografia81/" target="_blank"><i class="ti-instagram" style="padding: 5px;"></i>  </a>
                        <a href="https://www.tiktok.com/@elifotografia81/" target="_blank"> <img src="assets/assetsEli/images/tiktok.png" style="max-width: 35px; padding: 5px; padding-bottom: 11px;"> </a>

                    </div>

            </div>
            
        </div>
    </div>
</div>

<div class="team section-padding" style="padding-top: 0%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Fotografa</h2>
                <hr class="line line-hr-center">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="item col-md-6" style="    padding: 20px;">
                    <div class="img img-grayscale item-inner"><img src="assets/assetsEli/images/team/02.jpg" alt="" ></div>
                    <div class="info">
                        <h5>Eli Quintalla</h5>
                        <h6>Fotografa</h6>
                        <div class="social valign">
                            <div class="full-width">
                                <a href="https://web.facebook.com/profile.php?id=100083357140289&mibextid=LQQJ4d&_rdc=1&_rdr"><i class="ti-facebook"></i></a>
                                <a href="https://www.instagram.com/elifotografia81/"><i class="ti-instagram"></i></a>
                                <a href="https://www.tiktok.com/@elifotografia81/"><img src="assets/assetsEli/images/tiktok.png" style="max-width: 35px; padding: 5px; padding-bottom: 11px;"></a>
                                <p>elifotografia81@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item col-md-6" style="    padding: 20px;">
                    <div class="img img-grayscale item-inner"><img src="assets/assetsEli/images/team/01.jpg" alt="" ></div>
                    <div class="info">
                        <h5>Eli Quintalla</h5>
                        <h6>Fotografa</h6>
                        <div class="social valign">
                            <div class="full-width">
                                <a href="https://web.facebook.com/profile.php?id=100083357140289&mibextid=LQQJ4d&_rdc=1&_rdr"><i class="ti-facebook"></i></a>
                                <a href="https://www.instagram.com/elifotografia81/"><i class="ti-instagram"></i></a>
                                <a href="https://www.tiktok.com/@elifotografia81/"><img src="assets/assetsEli/images/tiktok.png" style="max-width: 35px; padding: 5px; padding-bottom: 11px;"></a>
                                <p>elifotografia81@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


