<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="1" data-background="assets/assetsEli/images/banner/2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome</h1>
            </div>
        </div>
    </div>
</div>
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Bethany</h2>
                <hr class="line line-hr-left">
                <h5>We would love to meet up and chat about how we can make your dream wedding happen!</h5>
                <p>Wedding elit miss eget the solin missen citudino sellus rutrum in lacus son nemi vestibulum eleifen ornare drana company tortor semper at. Suspendise asin the sedisem tinciu the drana numune consue.</p>
                <p>Destination elit miss eget the solin miss citudino phasellus rutrum in lacus miss. Vestibulum eleifen ornare drana sempe numune consue.</p>
                <p>Event elit miss eget the solin miss citudino phasellus rutrum in the lacusi events vestibulum eleifen ornare drana company tortori sempe numune consue design elit miss eget the solin miss citudino sellus rutrum in lacus miss vestibulum eleifen ornare drana company tortor semper at.</p>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="about-img">
                    <div class="img">
                        <img src="assets/assetsEli/images/about.jpg" alt="">
                    </div>
                    <div class="about-img-2">Bethany Dan</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-padding bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-30">
                <h2>Wedding Dates</h2>
                <hr class="line line-hr-left">
                <p>Your at-a-glance guide to where I stand on all the truly important things. Wedding elit miss the eget the solin miss citudino selus rutrum in miss vestibulum eleifen ornare torto.</p>
            </div>
            <div class="col-md-6 offset-md-1 mb-30">
                <table class="wedding-date-table">
                    <tbody>
                        <tr>
                            <td>
                                <h6>1. SWITZERLAND<br><span>September : 202</span></h6>
                            </td>
                            <td>
                                <p>Bauen</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>2. ITALY<br><span>October : 2022</span></h6>
                            </td>
                            <td>
                                <p>Rome</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>3. AMSTERDAM<br><span>November : 202</span></h6>
                            </td>
                            <td>
                                <p>Netherlands</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>4. SPAIN<br><span>December : 202</span></h6>
                            </td>
                            <td>
                                <p>Barcelona</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Creative Team</h2>
                <hr class="line line-hr-center">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                <div class="item">
                    <div class="img img-grayscale item-inner"><img src="assets/assetsEli/images/team/02.jpg" alt=""></div>
                    <div class="info">
                        <h5>Olivia Louise</h5>
                        <h6>Wedding & Event Planner</h6>
                        <div class="social valign">
                            <div class="full-width">
                                <a ><i class="ti-facebook"></i></a>
                                <a ><i class="ti-twitter"></i></a>
                                <a ><i class="ti-linkedin"></i></a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img img-grayscale item-inner"><img src="assets/assetsEli/images/team/01.jpg" alt=""></div>
                    <div class="info">
                        <h5>Betty Emily</h5>
                        <h6>Event Planner</h6>
                        <div class="social valign">
                            <div class="full-width"> <a ><i class="ti-facebook"></i></a> <a ><i class="ti-twitter"></i></a> <a ><i class="ti-linkedin"></i></a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients -->
<div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 owl-carousel owl-theme">
                <!-- Clients -->
                <div class="client-logo">
                    <a ><img src="assets/assetsEli/images/clients/1.jpg" alt=""></a>
                </div>
                <div class="client-logo">
                    <a ><img src="assets/assetsEli/images/clients/2.jpg" alt=""></a>
                </div>
                <div class="client-logo">
                    <a ><img src="assets/assetsEli/images/clients/3.jpg" alt=""></a>
                </div>
                <div class="client-logo">
                    <a ><img src="assets/assetsEli/images/clients/4.jpg" alt=""></a>
                </div>
                <div class="client-logo">
                    <a ><img src="assets/assetsEli/images/clients/5.jpg" alt=""></a>
                </div>
                <div class="client-logo">
                    <a ><img src="assets/assetsEli/images/clients/6.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>