
.signature1 {
    font-family: Signatie;
    color: darkgoldenrod;
}
.signature2{
    font-family: Signatie;
    text-align: center;
}
.p{
    text-align: justify;
}
.section-padding{
    background-color: #d9ffff;
}
.social-icon{
    color:darkgoldenrod ;
}
a {
    color: darkgoldenrod;}
@media screen and (max-width: 600px) {
    .texto-box {
        margin-left: 20px; /* Margen izquierdo */
        margin-right: 20px; /* Margen derecho */
        padding: 10px; 
        text-align: center;
    }
    
}