<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="1" data-background="assets/assetsEli/images/banner/family.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome</h1>
            </div>
        </div>
    </div>
</div>
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="signature2">Eli Quintalla</h2>
                <hr class="line line-hr-left">
                <h4>photographers professional</h4>
                <h5 class="signature2">Capturing Life's Precious Moments</h5>
                <p>I am of Salvadoran origin and communicate fluently in both English and Spanish, 
                which allows me to connect with a wide range of clients and capture their unique stories through my lens.</p>
                <p> <strong> to a wonderful man, my daily guide and support, I deeply understand the value of every shared moment.
                Additionally, as a mother of three and grandmother of three, I have a special connection to the beauty and complexity of each stage of family life.
                This experience enriches my approach to photography, allowing me to capture with authenticity and love every smile, every look, every hug.
                My camera is an extension of my vision to discover and celebrate joy, love and togetherness, making each image tell a unique and personal story. </strong>
               <p> At every stage of life, from the sweetness of a newborn to the excitement of a birthday, I am here to celebrate and preserve these cherished moments with my photography. 
                Let me be a part of your most precious moments, capturing them for you to treasure forever.</p>
                <a data-swiper-parallax-x="-30%" style="z-index: 5;" class="next-link" (click)="setRoute('contact')" style="cursor: pointer; color: darkgoldenrod ;">Contact us</a>

            </div>
            <div class="col-md-5 offset-md-1">
                <div class="about-img">
                    <div class="img">
                        <img src="assets/assetsEli/images/about.jpg" alt="">
                    </div>
                    <div class="about-img-2">Eli Quintalla</div>
                </div>
            </div>
            <div class="col-md-12">
                    <p>Thank you so much for reaching out to us - we are excited to connect with you! </p>
                    <p><b>Phone :</b> +1.123.444.0000</p>
                    <p><b>Email :</b> elifotografia81@gmail.com</p>
                   <p><b>follow me :</b>@elifotografia81</p>
                    <div class="social-icon">
                        <a href="https://web.facebook.com/profile.php?id=100083357140289&mibextid=LQQJ4d&_rdc=1&_rdr" target="_blank"><i class="ti-facebook"></i> </a>
                        <a href="https://www.instagram.com/elifotografia81/" target="_blank"><i class="ti-instagram"></i>  </a>
                        <a href="https://www.tiktok.com/@elifotografia81/" target="_blank"><i class="ti-youtube"></i> </a>

                    </div>

            </div>
            
        </div>
    </div>
</div>

