<!-- products deteil -->
<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="1" data-background="assets/assetsEli/images/banner/banner3.jpg" >
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: end;">
                <h1>Photographic Products to Preserve Every Memory</h1>
            </div>
        </div>
    </div>
</div>
<!-- products deteil -->
<div class="section-padding" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="signature1" style="color: darkgoldenrod;">Our Products</h2>
                <hr class="line line-hr-center">
                <p>From personalised baby portrait albums to elegant wedding and event portfolios</p>
                <p>Our products are designed to reflect every emotion and detail, giving you a tangible and lasting way to relive your most precious memories. </p>
                <h3> <strong> Choose from our variety of options and let us immortalise your stories through our unique photographic products.</strong> </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" *ngFor="let products of allProducts; let i = index" (click)="viewProducts(products)">
                <div class="services-item" >
                    <img class="services-img" src="{{products.images[0]}}" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle" ><a >{{ products.name }}</a></div>

                                
                        </div>
                </div>
                <div style="text-align: center;  margin-bottom: 20px;">
                    <div class="services-subtitle" ><a >{{ products.name }}</a></div>
                    <div class="services-title"><a (click)="viewProducts(products)">View details</a></div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/2.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Master of Ceremonies</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/3.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Corporate Events</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/4.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Weddings</a></div>
                                <div class="services-title"><a href="services-page.html">Destination Wedding</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/5.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Birthday Party Planner</a></div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-item">
                    <img class="services-img" src="assets/assetsEli/images/services/6.jpg" alt="">
                        <div class="services-caption">
                            <div class="services-subtitle"><a href="services-page.html">Events</a></div>
                                <div class="services-title"><a href="services-page.html">Special Events</a></div>
                        </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
