<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="1" data-background="assets/assetsEli/images/banner/contact.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Contacto</h1>
            </div>
        </div>
    </div>
</div>
<!-- Contact -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contactame</h2>
                <hr class="line line-hr-left">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <p>Muchas gracias por ponerse en contactos, ¡Me encantaría hacerlo! Hábleme de usted. Si no recibe respuesta en 24 horas, póngase en contacto directamente por teléfono.</p>
                        <p><b>Telefono :</b> +1 (410) 855-5095</p>
                        <p><b>Correo :</b> elifotografia81@gmail.com</p>
                        <p><b>Ubicación :</b> 203 oak st, Stevesville Maryland 21666</p>
                        <div class="social-icon">
                            <a href="https://web.facebook.com/profile.php?id=100083357140289&mibextid=LQQJ4d&_rdc=1&_rdr" target="_blank"><i class="ti-facebook" style="padding: 5px;"></i> </a>
                            <a href="https://www.instagram.com/elifotografia81/" target="_blank"><i class="ti-instagram" style="padding: 5px;"></i>  </a>
                            <a href="https://www.tiktok.com/@elifotografia81/" target="_blank"> <img src="assets/assetsEli/images/tiktok.png" style="max-width: 35px; padding: 5px; padding-bottom: 11px;"> </a>
    
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <h5 class="mb-30">Dejame tu mensaje aqui!</h5>
                        <form method="post" class="contact__form" action="">
                            <!-- Form message -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                        Your message was sent successfully.
                                    </div>
                                </div>
                            </div>
                            <!-- Form elements -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input name="name" type="text" placeholder="Full Name *" required> 
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="email" type="email" placeholder="Email Address *" required> 
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="phone" type="text" placeholder="Phone *" required> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="subject" type="text" placeholder="Services Type *" required> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Message *" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input name="submit" type="submit" value="Send Message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>