<div class="post-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery" style="background-color: white;"></ngx-gallery>

<!--                 <img src="assets/assetsEli/images/blog/a.jpg" class="img-responsive" alt="">
 -->            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="post-caption">
                    <h3>My Favourite Special Bridesmaid Gifts</h3>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <p>Tristique nisl felis at volutpat erat hendrerit drana. Proin ultricies nibhe dolye maximus scelerisque. Integer molliser faucibus neque nec tincidunt. Aliuam eraolutpat. Praeser tempor maluada quam. Louise ultricies nibh non dolor maximus sceleue. Integer molliser fauci nune etincidunte. Aliquam erat volutpat. Praeser tempor maladi quam nec rutrum arcu ornare sed. Duru egiter ligula at nibh viverra ultricies.</p>
                <h5>Special Bridemaid Gifts</h5>
                <ol>
                    <li>Custom Hair Clip</li>
                    <li>Silk Pajamas</li>
                    <li>Beaded Friendship Bracelet</li>
                    <li>Pampering Gift Set</li>
                    <li>Weekend Bag</li>
                    <li>Monogram Necklace</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/blog/p1.jpg" title="Bridesmaid" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/p1.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/blog/p2.jpg" title="Bridesmaid" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/p2.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/blog/p3.jpg" title="Bridesmaid" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/p3.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>