<div class="post-section">
    <div class="container"  style="padding-top: 2%;">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 2%;">
                <button class=""  (click)="setRoute('portfolio')">Todas los album</button>
            </div>
          
         
   

           
        </div>
        <div class="row">
            <div id="inline-gallery-container" *ngFor="let image of yeoman._albums; let i=index">
                <img style="padding-bottom: 3%;" src="{{image.src}}" (click)="open(i)" />
              </div>
        </div>
        <!-- <div class="row">
          
            <div class="col-md-12 mt-5">
                <div class="post-caption">
                    <h3 class="signature1" >{{yeoman.previewAlbums.name}}</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
               <img src="{{yeoman.previewAlbums.images[0]}}" class="img-responsive" alt="">  
             </div>
        </div> -->
        
    </div>
</div>