 
<div class="bethany-services-section mb-60">
    <div class="container" *ngIf="yeoman.previewPackages!==undefined">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 2%;">
                <button class=""  (click)="setRoute('packages')">Todos los paquetes</button>
            </div>
            <div class="col-md-6 mb-30">                 
                <img  src="{{yeoman.previewPackages.images[0]}}" alt=""> 
            </div>
            <div class="col-md-6 top2">
                <!-- <h3 class="signature1">{{yeoman.previewPackages.title}}</h3> -->
                <h3 class="signature1">{{yeoman.previewPackages.name}}</h3>
                <h4><strong class="">Precio:</strong>$ {{yeoman.previewPackages.price}}</h4>
                <h5>Que incluye</h5>
              <!--   <p>Valido para el evento</p> -->
                <p><strong class=""></strong> {{yeoman.previewPackages.numberPeople}}</p>
                <p *ngFor="let numberSession of yeoman.previewPackages.numberSessions">{{numberSession.place}}</p>
                <p><strong class=""></strong> {{yeoman.previewPackages.duration}}</p>

                <strong class="">Cantidad de fotos:</strong> {{yeoman.previewPackages.numberPhoto}}
                <p></p>
                <strong class="">Lugares:</strong>
                <ul>
                    <li *ngFor="let placeSession of yeoman.previewPackages.placeSessions">{{placeSession.place}}</li>
                </ul>
               <strong class="">Vestuario y otros items:</strong>
                <ul>
                    <li *ngFor="let clothing of yeoman.previewPackages.clothings">{{clothing.cloth}}</li>
                </ul>
               <strong class="">¿Que incluye la sesion?</strong>
                <ul>
                    <li *ngFor="let include of yeoman.previewPackages.includes">{{include.inclu}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-md-6">
                <h3 class="signature1">{{yeoman.previewPackages.title}}</h3>
                <h4>{{yeoman.previewPackages.name}}</h4>
                <h4><strong class="">Price:</strong>$ {{yeoman.previewPackages.price}}</h4>
            </div> -->
        </div>
        <div class="row ">

            <div class="col-md-6">
                <strong class="">¿Sobre que trata la sesion?</strong> 
                <p>{{yeoman.previewPackages.description}}</p>
                <strong class="">Notas:</strong>
                <ul>
                    <li *ngFor="let note of yeoman.previewPackages.notes">{{note.not}}</li>
                </ul>
                <p> {{yeoman.previewPackages.not}}</p>

            </div>
            <div class="col-md-6  faqs-accordion">
                <div class="col-md-12 text-center">
                    <h2 class="signature1">Preguntas frecuentes</h2>
                    <hr class="line line-hr-center">
                </div>
                <div class="accordion" *ngFor="let faq of yeoman.previewPackages.faqs;let i =index">
                    <div class="item" >
                        <div class="title" (click)="checkVisibility(i)">
                            <h6>¿{{faq.p}}?</h6>
                        </div>
                        <div *ngIf="faqShow === i" class="accordion-info active">
                            <p>{{ faq.r }}</p>
                        </div>
                    </div>
                    <!-- <div class="item">
                        <div class="title">
                            <h6>What will working with a wedding planner entail?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>What happens on the wedding day itself?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>How many weddings do you take on each year?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>Do you have insurance?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <h6>Will you be there on our wedding day?</h6>
                        </div>
                        <div class="accordion-info" style="display: none;">
                            <p>Mauris porttitor magna vel ante luctus convallis. Nunc at tellus erat. Donec et magna lectus. Aliquam egestas vel arcu id maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sollicitudin feugiat elementum.</p>
                        </div>
                    </div> -->
                </div>
            </div>
            
        </div>
     
        <div class="container" style=" padding-top: 30px;"> 
            <div class="row">
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Muchas gracias por contactarme - ¡estoy emocionada de conectarme con usted! </p>
                    <p><b>Teléfono :</b>+1 (410) 855-5095</p>
                    <p><b>Correo :</b> elifotografia81@gmail.com</p>
                   <p><b>Sígueme :</b>@elifotografia81</p>
                    <div class="social-icon">
                        <a href="https://web.facebook.com/profile.php?id=100083357140289&mibextid=LQQJ4d&_rdc=1&_rdr" target="_blank"><i class="ti-facebook" style="padding: 5px;"></i> </a>
                        <a href="https://www.instagram.com/elifotografia81/" target="_blank"><i class="ti-instagram" style="padding: 5px;"></i>  </a>
                        <a href="https://www.tiktok.com/@elifotografia81/" target="_blank"> <img src="assets/assetsEli/images/tiktok.png" style="max-width: 35px; padding: 5px; padding-bottom: 11px;"> </a>

                    </div>
 
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <h5 class="mb-30">¿Está interesado en este paquete? Llena el formulario</h5>
                            
                            <form method="post" class="contact__form" action="">
                               
                                <!-- <div class="row">
                                    <div class="col-12">
                                        <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                            Your message was sent successfully.
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <input name="name" type="text" placeholder="Nombre *" [(ngModel)]="data.name" name="name" required  [ngModelOptions]="{standalone: true}"> 
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input name="email" type="email" placeholder="Correo *" [(ngModel)]="data.email" required [ngModelOptions]="{standalone: true}"> 
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input name="phone" type="tel" placeholder="Teléfono *" [(ngModel)]="data.phone" required [ngModelOptions]="{standalone: true}"> 
                                    </div>
                                    <!-- <div class="col-md-12 form-group">
                                        <input name="subject" type="text" placeholder=" *" [(ngModel)]="data.makeup" name="name" required  [ngModelOptions]="{standalone: true}"> 
                                    </div> -->
                                    <div class="col-md-12 form-group">
                                        <textarea name="message" id="message" cols="30" rows="4" placeholder="Mensaje *" [(ngModel)]="data.message" name="name" required  [ngModelOptions]="{standalone: true}"></textarea>
                                    </div>
                                    <div class="col-md-12">
                                        <input name="submit" type="submit" value="Enviar" (click)="onSubmit()">
                                    </div>
                                    
                                </div>
                            </form>
                              
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>

