
<div class="bethany-services-section mb-60">

    <div class="container" *ngIf="yeoman.previewProducts!==undefined" >
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 2%;">
                <button class=""  (click)="setRoute('products')">All products</button>
            </div>
            <div class="col-md-6 mb-30" > 
                <img  src="{{yeoman.previewProducts.images[0]}}" alt=""> </div>
        
            <div class="col-md-6">
                <h3 class=""><strong> {{yeoman.previewProducts.name}}</strong></h3>
                <hr class="line line-hr-left">
                <h5 ><strong class="">Sizes:</strong>  {{yeoman.previewProducts.size}}</h5>
                <h5 ><strong class="">Description:</strong>  {{yeoman.previewProducts.description}}</h5>
                <button class="" (click)="scrollToForm()">Apply now</button> 
                <hr class="line line-hr-center">
                <button (click)="openWhatsApp()" class="">Request</button>
            </div>
            <div class="col-md-12 offset-md-1"  *ngIf="showForm" id="applicationForm" >
                <h5 class="mb-30">Are you interested in this product? select the size that suits what you want</h5>
                
                <form method="post" class="contact__form" action="">
                   
                    <!-- <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input name="name" type="text" placeholder="Full Name *" [(ngModel)]="data.name" name="name" required  [ngModelOptions]="{standalone: true}"> 
                        </div>
                        <div class="col-md-6 form-group">
                            <input name="email" type="email" placeholder="Email Address *" [(ngModel)]="data.email" required [ngModelOptions]="{standalone: true}"> 
                        </div>
                        <div class="col-md-6 form-group">
                            <input name="phone" type="tel" placeholder="Phone *" [(ngModel)]="data.phone" required [ngModelOptions]="{standalone: true}"> 
                        </div>
                        <div class="col-md-12 form-group">
                            <input name="subject" type="text" placeholder="Are you interested in makeup/hair service? *" [(ngModel)]="data.makeup" name="name" required  [ngModelOptions]="{standalone: true}"> 
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea name="message" id="message" cols="30" rows="4" placeholder="Message *" [(ngModel)]="data.message" name="name" required  [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                        <div class="col-md-12">
                            <input name="submit" type="submit" value="Send Message" (click)="onSubmit()">
                        </div>
                        
                    </div>
                </form>
                  
            </div>
        </div>
       

    </div>
</div>