<div class="bethany-services-section mb-60 bg-1" [hidden]="previewPackages" >
    <div class="container" *ngIf="yeoman.previewCategory!==undefined" >
        <div class="row">
            <div class="col-md-6 mb-30" > 
                <img src="{{yeoman.previewCategory.images[0]}}" alt=""> 
            </div>
            <div class="col-md-6">
                <h3>{{yeoman.previewCategory.name}}</h3>
                <hr class="line line-hr-left">
                <h4 class="signature1">{{yeoman.previewCategory.subname}}</h4>
                <p><strong>{{yeoman.previewCategory.description1}}</strong></p>
                <p>{{yeoman.previewCategory.description2}}</p>
                <p><strong>{{yeoman.previewCategory.description3}}</strong></p>
                <button class=""  (click)="setRoute('shop')">Apply now</button>
                <hr class="line line-hr-center">
                <button class=""  (click)="setRoute('shop')">All products</button>
            </div>
           
        </div>
       
      
        <!-- <div class="row">
            <div class="col-md-6 gallery-item">
                <a href="assets/assetsEli/images/blog/a.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/a.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gallery-item">
                <a href="assets/assetsEli/images/blog/b.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/b.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gallery-item">
                <a href="assets/assetsEli/images/blog/c.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/c.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gallery-item">
                <a href="assets/assetsEli/images/blog/d.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/d.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
        </div>  -->
    </div>
</div>
<div class="bethany-services-section mb-60" [hidden]="previewCategory">
    <div class="container" *ngIf="yeoman.previewPackages!==undefined" >
        <div class="row">
            <div class="col-md-6 mb-30" > 
                <img src="{{yeoman.previewPackages.images[0]}}" alt=""> </div>
        
            <div class="col-md-6">
                <h3>{{yeoman.previewPackages.name}}</h3>
                <hr class="line line-hr-left">
                <h4 class="signature1">{{yeoman.previewPackages.subname}}</h4>
                <p><strong>{{yeoman.previewPackages.description1}}</strong></p>
                <p>{{yeoman.previewPackages.description2}}</p>
                <p><strong>{{yeoman.previewPackages.description3}}</strong></p>
                <button class=""  (click)="setRoute('shop')">Apply now</button>
                <hr class="line line-hr-center">
                <button class=""  (click)="setRoute('shop')">All products</button>
            </div>
        </div>
    </div>
</div>