<div class="bethany-services-section mb-60 bg-1"  >
    <div class="container" *ngIf="yeoman.previewCategory!==undefined" >
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 2%;">
                <button class=""  (click)="setRoute('shop')">Todos los servicios</button>
            </div>
            <div class="col-md-6 mb-30" > 
                <img *ngIf="yeoman.previewCategory.images[0]" src="{{yeoman.previewCategory.images[0]}}" alt=""> 
            </div>
            <div class="col-md-6">
                <h3>{{yeoman.previewCategory.name}}</h3>
                <hr class="line line-hr-left">
                <h4 class="signature1">{{yeoman.previewCategory.subname}}</h4>
                <p><strong>{{yeoman.previewCategory.description1}}</strong></p>
                <p>{{yeoman.previewCategory.description2}}</p>
                <p><strong>{{yeoman.previewCategory.description3}}</strong></p>
               
                <ul>
                    <li *ngFor="let itemService of yeoman.previewCategory.itemServices">{{itemService.item}}</li>
                </ul>
                <button class=""  (click)="setRoute('packages')">Ver  paquetes</button>

            </div>
           
        </div>
        <div class="section-padding"  >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="signature1" style="color: darkgoldenrod;">Paquetes</h2>
                        <hr class="line line-hr-center">
                      </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-4" *ngFor="let packages of yeoman.filteredPackages; let i = index" (click)="viewPackages(i)" >
                        <div class="services-item" >
                            <img class="services-img" src="{{packages.images[0]}}" alt="">
                                <div class="services-caption">
                                    <div class="services-title"><a >Ver detalles</a></div>
                                </div>
                        </div>
        <!--                 <div class=""><a >{{packages.idCategory}}</a></div>
         -->                <div class="services-subtitle" style="text-align: center;"><a >{{packages.name}}</a></div>
                        <div class="services-title" style="text-align: center;"><a >$ {{packages.price}}</a></div>
                    </div>
                 
                </div> 
            </div>
        </div>
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Our Services</h2>
                        <hr class="line line-hr-center">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngFor="let package of yeoman.allPackages; let i = index" [hidden]="package.idCategory!== yeoman.previewCategory.id">
                        <div class="services-item">
                            <img class="services-img" src="{{package.images[0]}}" alt="">
                                <div class="services-caption">
                                    <div class="services-subtitle"><a href="services-page.html">Weddings</a></div>
                                        <div class="services-title"><a href="services-page.html">Wedding Planner</a></div>
                                </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
       <!--  <div class="container" style=" padding-top: 30px;"> 
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <p>Thank you so much for reaching out to us - we are excited to connect with you! Tell us about you. If you do not receive response within 24 hours, please contact us directly email or phone.</p>
                        <p><b>Phone :</b> +1.123.444.0000</p>
                        <p><b>eMail :</b> </p>
                        <p><b>Address :</b> Broadway 5 St Normain New York 98499, USA</p>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <h5 class="mb-30">We look forward to being in touch!</h5>
                        <form method="post" class="contact__form" action="">
                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                        Your message was sent successfully.
                                    </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input name="name" type="text" placeholder="Full Name *" required> 
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="email" type="email" placeholder="Email Address *" required> 
                                </div>
                                <div class="col-md-6 form-group">
                                    <input name="phone" type="text" placeholder="Phone *" required> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <input name="subject" type="text" placeholder="Services Type *" required> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Message *" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input name="submit" type="submit" value="Send Message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div> -->
       
      
         
    </div>
    
</div>

