
.signature1 {
    font-family: Signatie;
    color: darkgoldenrod;
    text-transform: lowercase;
}
.p{
  text-align: center;
}
.bg-1[_ngcontent-glf-c23] {
  background: #d9ffff;
}
.bethany-services-section {
  margin-top: 120px;
  background: #d9ffff;
  padding-top: 60px;
}