<div class="bethany-services-section mb-60">
    <div class="container" *ngIf="yeoman.previewCategory!==undefined">
        <div class="row">
            <div class="col-md-12 mb-30" > 
                <img src="{{yeoman.previewCategory.images[0]}}" alt=""> </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>{{yeoman.previewCategory.name}}</h3>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <p>Description</p>
                <br>
            </div>
            <div class="col-md-12">
                <h5>Package Includes</h5>
                <p><b>1.</b> Items</p>
                <p><b>2.</b> Items</p>
                <p><b>3.</b> Items</p>
                <p><b>4.</b> Items</p>
                <p><b>5.</b> Items</p>
                <p><b>6.</b> Items</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 gallery-item">
                <a href="assets/assetsEli/images/blog/a.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/a.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gallery-item">
                <a href="assets/assetsEli/images/blog/b.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/b.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gallery-item">
                <a href="assets/assetsEli/images/blog/c.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/c.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gallery-item">
                <a href="assets/assetsEli/images/blog/d.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/blog/d.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>