<div class="banner-header valign bg-img bg-fixed" data-overlay-dark="1" data-background="assets/assetsEli/images/banner/2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Portfolio</h1>
            </div>
        </div>
    </div>
</div>
<!-- Photo Gallery -->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Photo Gallery</h2>
                <hr class="line line-hr-center">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/1.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/1.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/2.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/2.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/3.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/3.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/4.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/4.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/5.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/5.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/9.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/9.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/7.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/7.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/8.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/8.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gallery-item">
                <a href="assets/assetsEli/images/gallery/6.jpg" title="" class="img-zoom">
                    <div class="gallery-box">
                        <div class="gallery-img"> <img src="assets/assetsEli/images/gallery/6.jpg" class="img-fluid mx-auto d-block" alt=""> </div>
                        <div class="gallery-detail text-center"> <i class="ti-heart"></i> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Video Gallery -->
<!-- <div class="section-padding bg-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Video Gallery</h2>
                <hr class="line line-hr-center">
            </div>
        </div>
        <div class="row">
           
            <div class="col-md-6">
                <div class="vid-area mb-30">
                    <div class="vid-icon"> <img src="assets/assetsEli/images/gallery/10.jpg" alt="">
                        <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                            <span class="video-gallery-polygon">
                                <i class="ti-control-play"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="vid-area mb-30">
                    <div class="vid-icon"> <img src="assets/assetsEli/images/gallery/11.jpg" alt="">
                        <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                            <span class="video-gallery-polygon">
                                <i class="ti-control-play"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="vid-area mb-30">
                    <div class="vid-icon"> <img src="assets/assetsEli/images/gallery/12.jpg" alt="">
                        <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                            <span class="video-gallery-polygon">
                                <i class="ti-control-play"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="vid-area mb-30">
                    <div class="vid-icon"> <img src="assets/assetsEli/images/gallery/13.jpg" alt="">
                        <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                            <span class="video-gallery-polygon">
                                <i class="ti-control-play"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="vid-area mb-30">
                    <div class="vid-icon"> <img src="assets/assetsEli/images/gallery/14.jpg" alt="">
                        <a class="video-gallery-button vid" href="https://www.youtube.com/watch?v=teLhLLlhfzc&ab_channel=Marcus%26Kristin">
                            <span class="video-gallery-polygon">
                                <i class="ti-control-play"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->