<footer class="main-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-30">
                <div class="item abot">
                    <div class="logo mb-20">
                        <!-- <img src="assets/assetsEli/images/logo-light.png" alt=""> -->
                        <h2>Elifotografia</h2>
                    </div>
                    <p>We believe that it is all about the BIG DREAMS and the small details!</p>
                    <div class="social-icon">
                        <a href="index.html"><i class="ti-facebook"></i></a>
                        <a href="index.html"><i class="ti-twitter"></i></a>
                        <a href="index.html"><i class="ti-instagram"></i></a>
                        <a href="index.html"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 offset-md-1 mb-30">
                <div class="item usful-links">
                    <div class="fothead">
                        <h6>Useful Links</h6>
                    </div>
                    <ul>
                        <li><i class="ti-angle-right"></i> <a href="#">About</a></li>
                        <li><i class="ti-angle-right"></i> <a href="#">Services</a></li>
                        <li><i class="ti-angle-right"></i> <a href="portfolio.html">Portfolio</a></li>
                        <li><i class="ti-angle-right"></i> <a href="index.html">F.A.Qs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Get in touch</h6>
                    </div>
                    <p>+1.123.444.0000</p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Location</h6>
                    </div>
                    <p>Broadway 5 St Normain New York 98499, USA</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="text-left">
                        <p>© 2023, Elifotografía. Todos los derechos reservados. Desarrollado por <a href="https://buckapi.com/" target="_blanck">Buckapi</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-right-left">
                        <p><a href="index.html#">Terms &amp; Conditions</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>