<footer class="main-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-30">
                <div class="item abot">
                    <div class="logo mb-20">
                        <!-- <img src="assets/assetsEli/images/logo-light.png" alt=""> -->
                        <h2>Eli-fotografia</h2>
                    </div>
                    <p>Capturing your most precious moments</p>
                    <div class="social-icon">
                        <a href="https://web.facebook.com/profile.php?id=100083357140289&mibextid=LQQJ4d&_rdc=1&_rdr" target="_blank"><i class="ti-facebook"></i></a>
                        <a href="https://www.instagram.com/elifotografia81/" target="_blank"><i class="ti-instagram"></i></a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-2 offset-md-1 mb-30">
                <div class="item usful-links">
                    <div class="fothead">
                        <h6>Useful Links</h6>
                    </div>
                    <ul >
                        <li style="color: white;"><i class="ti-angle-right"></i> <a (click)="setRoute('about')" style="cursor: pointer;">About</a></li>
                        <li><i class="ti-angle-right"></i> <a (click)="setRoute('shop')" style="cursor: pointer; color: white;">Services</a></li>
                        <li><i class="ti-angle-right"></i> <a (click)="setRoute('portfolio')" style="cursor: pointer; color: white;">Portfolio</a></li>
                        <li><i class="ti-angle-right"></i> <a (click)="setRoute('faq')" style="cursor: pointer; color: white;">F.A.Qs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Get in touch</h6>
                    </div>
                    <a href="tel:+14108555095" style="color: white;">+1 (410) 855-5095</a>
                </div>
            </div>
            <div class="col-md-3 mb-30">
                <div class="item fotcont">
                    <div class="fothead">
                        <h6>Location</h6>
                    </div>
                    <p>203 oak st, Stevesville Maryland 21666</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-left">
                        <p>© 2023, Eli-fotografía. All rights reserved. Developed by <a href="https://buckapi.com/" target="_blanck">Buckapi</a></p>
                    </div>
                </div>
               <!--  <div class="col-md-4">
                    <div class="text-right-left">
                        <p><a href="index.html#">Terms &amp; Conditions</a></p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
  </footer>